* {
    border: none;
    border-radius: 0;
    font-family: "Noto Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #002b36;
    color: #657b83;
}

#window {
    font-weight: bold;
}


#workspaces button {
    padding: 0 5px;
    border-top: 2px solid #657b83;
    color: #657b83;
}

#workspaces button.active {
    color: #b58900;
    border-top: 2px solid #b58900;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
    border-radius: 3px;
}

#battery icon {
    color: red;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: #f53c3c;
}
